<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mole.finder"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="7" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name=".MoleFinderActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BogoPicGenActivity"
            android:label="BogoPicGen" >
            <intent-filter>
                <action android:name="android.media.action.IMAGE_CAPTURE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.media.action.STILL_IMAGE_CAPTURE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CompareActivity"
            android:label="Compare Images" >
        </activity>
        <activity
            android:name=".ReviewImagesActivity"
            android:label="Review Images" >
        </activity>       
        <activity 
            android:name=".ReviewTagsActivity"
            android:label="Review Tags">
        </activity>
        <activity
            android:name=".NewTagActivity"
            android:label="New Tag" >
        </activity>
        <activity
            android:name=".EditTagActivity"
            android:label="Edit Tag" >
        </activity>
        
        <activity
            android:name=".SaveImageActivity"
            android:label="Save Image">
        </activity>
        
                <activity
            android:name=".NewImageActivity"
            android:label="New Image" >
        </activity>
    </application>

</manifest>
